/**
 * @name Recollection
 * @author Awxilary
 * @version 1.0.0
 * @description I only wrote this so i don't leave it an empty blank,That would be considered rude.
 * @authorId 725560508371173377
 * @source https://github.com/Awxilary/Recollection
*/

@import url(https://awxilary.github.io/Recollection/Recollection.theme.css);

:root{
    /*Link,Images,customizer*/

    --link-color: #7630ff; /*Link color applies only for links*/
    --border-radius: 20px; /*Border radius applies for images and buttons.*/
    --window-padding: 0px;
    --window-roundness: 0px; 
    
    /*Background color customizer*/
    
    --background-mentioned-hover: var(--background-tertiary);
    --background-primary: linear-gradient(-60deg, rgb(34 34 34), rgb(10, 10, 10));
    --background-Secondry: linear-gradient(270deg, rgb(38, 38, 38), rgb(14, 14, 15));
    --button-background: linear-gradient(60deg, rgb(58, 58, 58), rgb(14, 14, 14));
    --background-tertiary: linear-gradient(-60deg, rgb(16 16 16), rgb(22 22 22));

    /*Status customizer*/

    --Online: rgb(127, 58, 255);
	--Do-not-disturb: rgb(255, 72, 72); 
	--Idle: rgb(255, 161, 38);
    --Streaming: rgb(214, 92, 208);

    /*Font-customizer*/
    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app-mount .layer_f7d46a {
    top: var(--window-padding);
    right: var(--window-padding);
    bottom: var(--window-padding);
    left: var(--window-padding);
    padding-top: 0;
    overflow: hidden;
    border-radius: var(--window-roundness);
  }

.platform-win .standardSidebarView__12528{
    top: 0px;
}

.sidebar__02e8d {
    width: 350px;
}

.interactive__0786a{
    border-radius: 20px;
}

.closeIcon__2816e{
    display: none;
}

.linkButton__9da2c{
    padding-right: 0px
}

.closeButton__116c3{
    margin: -8px;
    padding-right: 0px;
}

.peopleListItem_dab480:hover, .topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda, .side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda,.link__3a950:hover, .containerDefault_ae2ea4:hover, .memberInner__4dac6:hover{
    background: var(--button-background);
    transition: 1s;
    border-radius: var(--border-radius);
}

.spoilerContent__383f3, .scroller__8f066, .popout_a6e77f{
    transition: 1s;
}

.reactionCount__2c34d{
    display: none;
}

.reactionInner_bd636d{
    padding: 0.125rem 0.80rem;
}

.link_ddbb36:active{
    background: none;
    border-radius: 20px;
    border:none
}

.modeSelected__473f1 .link_ddbb36, .modeSelected__473f1:hover .link_ddbb36 {
    background: none
}

.wrapper__612a5:hover .link_ddbb36 {
    background: none;
}

.barFill__1f56b, .container_f79ab4{
    background: var(--background-primary);
}

.scrollableContainer_ff917f{
    border-radius: var(--border-radius);
    background: var(--background-Secondry);
}

.radioBar__70669:hover{
    background: var(--background-primary);
    transition: 1s;
}

.searchResultsWrap__2e184{
    background: var(--background-tertiary);
}

.reaction__4a43f.reactionMe__0fffc{
    border-color: #6394ff;
    -webkit-animation: SHINE 1.5s ease-in-out infinite alternate;
    -moz-animation: SHINE 1.5s ease-in-out infinite alternate;
    animation: SHINE 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes SHINE {
    from {
      box-shadow: 0 0 10px #6394ffe0, 0 0 20px #6394ff, 0 0 30px #6394ffaf, 0 0 40px #6394ff, 0 0 50px #6394ffaf, 0 0 60px #6394ffe3, 0 0 70px #6394ffea;
    }
    to {
      box-shadow: 0 0 20px #6394ffc7, #4dafff , 0 0 40px #6394ffb2, 0 0 50px #6394ffb7, 0 0 60px #6394ffa4, 0 0 70px #6394ffbd, 0 0 80px #6394ffb9;
    }
  }

.scroller_de945b{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.tabBarItem_ce14f3{
    transition: 1s;
}

.wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .newMessagesBar__8b272, .barBase__8839d{
    background: var(--button-background);
    color: rgb(255, 255, 255);
}

.imageWrapper__178ee{
    border-radius: var(--border-radius);
}

.mentioned_fa6fd2{
    background: var(--background-Secondry);
    border-radius: 20px;
    transition: 1s;
}

strong{
    color: var(--link-color);
}

.bg__12180, .app_de4237{
    background-color: var(--background-primary);
}

.theme-dark .scroller__89969{
    background-color: var(--background-Secondry);
}

.theme-dark .container__7e23c, .sidebar_e031be{
    background-color: var(--side-bar-background);
}

.privateChannels__9b518{
    background-color: var(--background-Secondry);
}

.members__573eb{
    background: var(--background-primary);
}

.sidebarRegionScroller__8113e{
    background: var(--background-primary);
}

.theme-dark .themed_b152d4{
    background: var(--background-Secondry);
}

.circleIconButton__05cf2.selected_aded59{
    background: var(--background-Secondry);
}

.theme-dark .panel_bd8c76 ,.theme-dark .container_debb33{
    background: var(--background-primary);
}

.connectContainer_e331e3, .connection__6dbd8{
    background: var(--background-primary);
    border: solid;
    border-radius: 10px;
}

.itemCard_b64118 {
    background: var(--button-background);
}

.sidebar__02e8d, .background__4e802, .fieldList__4e6dd, .member_b44d5d{
    background: var(--background-tertiary);
}

.member_b44d5d{
    background: none;
    transition: 1s;
}

.ownerIcon_bd8e7d, .icon__07c5b, .topic__16ae3 a{
    color: var(--link-color);
}

.scroller__26b89{
    background: var(--background-primary);
}

.lowerBadge_e89e22, .channelInfo_b0882c{
    background-color: #ff3f3f;
    border-radius: 20px;
  -webkit-animation: shiny 1s ease-in-out infinite alternate;
  -moz-animation: shiny 1s ease-in-out infinite alternate;
  animation: shiny 1s ease-in-out infinite alternate;
}

@-webkit-keyframes shiny {
    from {
      box-shadow: 0 0 10px #ff6363, 0 0 20px #ff6565, 0 0 30px rgb(255, 67, 67), 0 0 40px rgb(255, 76, 76), 0 0 50px #ff6767, 0 0 60px #ff5a5a, 0 0 70px #ff3434;
    }
    to {
      box-shadow: 0 0 20px #ff6868, 0 0 30rgb(255, 76, 76)0e0, 0 0 40px #ff6464, 0 0 50px #ff5353, 0 0 60px #ff5959, 0 0 70px #ff7d7d, 0 0 80px #fa0000;
    }
  }

.unreadImportant_e8bb44 , .item_f9d377{
    background-color: #fff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(214, 214, 214), 0 0 40px rgb(117, 117, 117), 0 0 50px #e9e9e9, 0 0 60px #b3b3b3, 0 0 70px #1b1b1b;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #e0e0e0, 0 0 40px #c9c9c9, 0 0 50px #252525, 0 0 60px #1d1d1d, 0 0 70px #585858, 0 0 80px #000000;
  }
}

::selection{
    color: white;
    background-color: rgb(16, 115, 180);
}

.lookFilled__950dd.colorBrand__27d57,.lookFilled__950dd.colorGreen__75c93,.lookFilled__950dd.colorGreen__75c93:hover{
    background: var(--button-background)
}

.markup_a7e664 a, .contents__322f4, .anchor_c8ddc0{
    color: var(--link-color);
}

rect[fill='#23a55a'], svg[fill='#23a55a']{
   fill: var(--Online);
}

rect[fill='#f0b232'], svg[fill='#f0b232']{
    fill: var(--Idle);

}

rect[fill='#f23f43'], svg[fill='#f23f43'] {
    fill: var(--Do-not-disturb);
}
